<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<title>MultiView Señales del Grupo</title>
	<link rel="stylesheet" href="../estilos.css">

	<!--   scripts JS offline local    -->
	<script src="../scripts/hls.js"></script>
	<script src="../scripts/hlsPlayer.js"></script>
</head>

<body>
	<div class="contenedor">	
		<div class="menu" style="background-image: url('../img/2.jpg')">
			<h3>MultiView Telecentro</h3>
			<ul>
				<li>_________</li>
				<a href="canal26.html" style="color:#FBFCFC">Canal26</a>
				<li></li>
				<a href="telemax.html" style="color:#FBFCFC">Telemax</a>
				<li></li>
				<a href="musictop.html" style="color:#FBFCFC">Musictop</a>
				<li></li>
				<a href="tierramia.html" style="color:#FBFCFC">TierraMia</a>
				<li></li>
				<a href="tlcpreview.html" style="color:#FBFCFC">TlcPreview</a>
				<li>Canal 4K</li>
				<li>LatinaTv</li>
				<li>_________</li>
                                <a href="../index-wowza.html" style="color:#FBFCFC">HLS wowza</a>
                                <li>RTMP Test</li>
			</ul>
			<button class="boton">Reproducir Todo</button>
		</div>		

		<div class="contenedor-señales">

			<div class="card" style="background-image: url('../img/latinatv.jpg')">
				<div class="textos">
					<h3>LatinaTv</h3>
					<p>HLS</p>
					<video id="latinatv" width="264" height="198" autoplay muted controls></video>
				</div>
			</div>

			<div class="card" style="background-image: url('../img/latinatv.jpg')">
				<div class="textos">
					<h3>FM Latina</h3>
					<p>HLS (wowza)</p>
					<video id="latinatv-w" width="264" height="198" autoplay muted controls></video>
				</div>
			</div>

			<div class="card" style="background-image: url('../img/latinatv.jpg')">
				<div class="textos">
					<h3>LatinaTv Twitch</h3>
					<p>HLS</p>
					<iframe src="https://player.twitch.tv/?channel=radiolatina1011&parent=http://localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	//Señales HLS de Nebula
    	setupHlsPlayer('latinatv', 'https://stream-gtlc.telecentro.net.ar/hls/radiolatinahls/main.m3u8');
	//Señales HLS de Wowza 
		setupHlsPlayer('latinatv-w', 'https://live-edge01.telecentro.net.ar/live/smil:rltn.smil/playlist.m3u8');
	</script>

</body>
</html>